
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif; 
    line-height: 1.6;
    background-color: #f4f4f4; 
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}

/* HEADER  */

.main-header {
    background: #fff;
    color: #333;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #0056b3;
}

.logo h1 {
    font-size: 1.8rem;
    color: #0056b3;
}

.main-nav ul {
    display: flex;
    gap: 20px;
}

.main-nav a {
    padding: 0.5rem 1rem;
    display: block;
    font-weight: 700;
}

/* BTN MENÚ MÓVIL */
.menu-toggle {
    display: none; /* OCULTAR EN PC */
    background: none;
    border: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
    width: 30px;
}

.menu-toggle .bar {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: all 0.3s ease;
}

/* HERO SECTION */
.hero-section {
    background: url('img/albacete-skyline.jpg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
}

.hero-content {
    z-index: 1;
    max-width: 800px;
    padding: 20px;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.cta-button {
    display: inline-block;
    background: #e67e22; 
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #d35400;
}

/*  FOOTER  */
.main-footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
}

.main-footer a {
    color: #e67e22;
}


/* MEDIA QUERIES */

@media (max-width: 768px) {
    
    .menu-toggle {
        display: flex;
    }
    
    .main-nav {
        
        position: absolute;
        top: 100%; 
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid #ccc;
        display: none; 
        z-index: 10;
        flex-direction: column;
        text-align: center;
    }

    .main-nav.active {
        display: block;
    }

    .main-nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .main-nav li {
        margin: 5px 0;
        border-bottom: 1px solid #f4f4f4;
    }
    
    .main-nav a {
        color: #333;
        font-size: 1.1rem;
    }

    .hero-content h2 {
        font-size: 2rem;
    }
}